{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'findways/style.css' %}">
<div class="container-fluid">
    <div class="row">
        {% if show_result %}
        <div class="col-xs-4 margin-top-10">
            <a href="http://localhost:8000/findways/mytravel">
                <input type="button" class="btn btn-default button-main" value="Do it again !" />
            </a>
        </div>
        <div class="col-xs-offset-4 col-xs-4 margin-top-10">
            <a href="http://localhost:8000/findways/logout">
                <input type="button" class="btn btn-default button-main pull-right" value="Log out" />
            </a>
        </div>
        {% else %}
        <div class="col-xs-offset-8 col-xs-4 margin-top-10">
            <a href="http://localhost:8000/findways/logout">
                <input type="button" class="btn btn-default button-main pull-right" value="Log out" />
            </a>
        </div>
        {% endif %}
    </div>
    {% if show_result %}
        <div class="row">
            <div class="col-xs-12 margin-top-10">
                <h1 class="title">Directions</h1>
                <h2>From : {{json2.Start_Address}} </br>&emsp;&nbsp;To : {{json2.End_Address}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                {% for way in json2.Routes %}
                    <div class="row margin-top-30">
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    {{way.Type}} : {{way.Price}} € - {{way.Total_Duration}} min - {{way.Total_Distance}}</br>
                                </div>

                                <div class="panel-body">
                                {% for detail in way.Route_Details %}
                                    <b>{{detail.Type}} : {{detail.ElemWay_Duration}} min - {{detail.ElemWay_Distance}}</b></br>
                                    {% for step in detail.ElemWay_Steps %}
                                    &emsp;&emsp;{{step.instruction}}</br>
                                    {% endfor %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-6 margin-top-30">
                Map à insérer ici
            </div>
        </div>
    {% else %}
    <div class="row">
        <div class="col-xs-12 margin-top-10">
            <h1 class="title">Find my way</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 border-right">
            <form method="post" action="." class="margin-top-60" id="travel">
                {% csrf_token %}
                <div class="col-xs-offset-1">
                    {{ form.as_p }}
                </div>
                <input type="submit" class="btn btn-default button-main btn-lg col-xs-offset-3 col-xs-6 margin-top-60" value="Find the best itinerary !" />
            </form>
        </div>
        <div class="col-xs-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    My profile
                </div>
                <div class="panel-body">
                    <ul class="margin-top-30">
                        <li>
                            <div class="col-xs-8">Driving licence</div>
                            <div class="col-xs-4 blue">
                                {% if user.profile.licence %}
                                    <span class="blue">Yes</span>
                                {% else %}
                                    <span class="blue">No</span>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-8">Credit card</div>
                            <div class="col-xs-4 blue">
                                {% if user.profile.card %}
                                    <span class="blue">Yes</span>
                                {% else %}
                                    <span class="blue">No</span>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-8">Pass Navigo</div>
                            <div class="col-xs-4 blue">
                                {% if user.profile.navigo %}
                                    <span class="blue">Yes</span>
                                {% else %}
                                    <span class="blue">No</span>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-8">Pass Vélib</div>
                            <div class="col-xs-4 blue">
                                {% if user.profile.velibPass %}
                                    <span class="blue">Yes</span>
                                {% else %}
                                    <span class="blue">No</span>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-8">Car</div>
                            <div class="col-xs-4 blue">
                                {% if user.profile.car %}
                                    <span class="blue">Yes</span>
                                {% else %}
                                    <span class="blue">No</span>
                                {% endif %}
                            </div>
                        </li>
                        <li>
                            <div class="col-xs-8">Bike</div>
                            <div class="col-xs-4 blue">
                                {% if user.profile.bike %}
                                    <span class="blue">Yes</span>
                                {% else %}
                                    <span class="blue">No</span>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                    <a href="{% url 'findways:edit_profile' %}">
                        <input type="button" class="btn btn-default button-main btn-lg col-xs-offset-2 col-xs-8 margin-top-60" value="Change my profile" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
</div>