Permis de conduire : {% if user.profile.licence %} Oui {% else %} Non {% endif %} <br/>
Carte de crédit : {% if user.profile.card %} Oui {% else %} Non {% endif %} <br/>
Pass Navigo : {% if user.profile.navigo %} Oui {% else %} Non {% endif %} <br/>
Pass Vélib : {% if user.profile.velibPass %} Oui {% else %} Non {% endif %} <br/>
Voiture : {% if user.profile.car %} Oui {% else %} Non {% endif %} <br/>
Vélo : {% if user.profile.bike %} Oui {% else %} Non {% endif %} <br/>
<a href="{% url 'findways:edit_profile' %}"><input type="button" value="Changer mon profil" /></a>
<a href="http://localhost:8000/findways/logout"><input type="button" value="Log Out" /></a>

<div>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Trouver le meilleur trajet !" />
    </form>
</div>